{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
  {% for link in links %}
      <div class="row">
          <div class="col-4">
          <h2>{{ link.title }}</h2>
          <p>{{ link.description }}</p>
      </div>
      <div class="col-4 text-center">
          <a href="{{ link.link_url }}" target="_blank">
          <img src="{{ link.link_image.url }}" width="100%" alt="{{ link.title }}" />
        </a>
      </div>
      <div class="col-4">
        
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
